# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd

# Atmel Studio
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#Atmel Studio specific
*.atsln
*.cproj
Debug/
*.componentinfo.xml

# IntelliJ Idea
*.iml
/.idea

# Maven
/target

#bno library
bno055.c
bno055.h
bno055_support.c
bno055_support.h

